<footer class="footer mt-20">
	<div class="container">
		
		{$smarty.const.ADMIN_INFO}

	</div>
</footer>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/jquery/1.9.1/jquery.min.js"></script> 
<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/layer/2.1/layer.js"></script> 
<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/icheck/jquery.icheck.min.js"></script> 
<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}static/h-ui/js/H-ui.js"></script> 
<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}static/h-ui/js/H-ui.admin.js"></script> 
<!--/_footer /作为公共模版分离出去-->
</body>
</html>