<aside class="Hui-aside">
	<input runat="server" id="divScrollValue" type="hidden" value="" />
	<div class="menu_dropdown bk_2">

		{if $content}
		<dl id="menu-article">
			<dt><i class="Hui-iconfont">&#xe616;</i> 内容管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{U('Class/index')}" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a _href="{U('News/index')}" data-title="资讯管理" href="javascript:void(0)">资讯管理</a></li>
					<li><a _href="{U('Net/index')}" data-title="网点管理" href="javascript:void(0)">网点管理</a></li>
				</ul>
			</dd>
		</dl>
		{/if}
		<!--
		<dl id="menu-product">
			<dt><i class="Hui-iconfont">&#xe620;</i> 产品管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="product-brand.html" data-title="品牌管理" href="javascript:void(0)">品牌管理</a></li>
					<li><a _href="product-category.html" data-title="分类管理" href="javascript:void(0)">分类管理</a></li>
					<li><a _href="product-list.html" data-title="产品管理" href="javascript:void(0)">产品管理</a></li>
				</ul>
			</dd>
		</dl> -->
		{if $comment}
		<dl id="menu-comments">
			<dt><i class="Hui-iconfont">&#xe622;</i> 评论留言管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<!-- <li><a _href="" data-title="评论列表" href="javascript:;">评论列表</a></li> -->
					<li><a _href="{U('FeedBack/index')}" data-title="留言管理" href="javascript:void(0)">留言管理</a></li>
				</ul>
			</dd>
		</dl>
        <dl id="menu-picture">
            <dt><i class="Hui-iconfont">&#xe613;</i> 广告管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
            <dd>
                <ul>
                    <li><a _href="{U('Banner/bannerlist')}" data-title="广告位添加" href="javascript:void(0)">广告位添加</a></li>
                    <li><a _href="{U('Banner/index')}" data-title="广告条管理" href="javascript:void(0)">广告条管理</a></li>
                </ul>
            </dd>
        </dl>
		{/if}

		{if $member}
		<dl id="menu-member">
			<dt><i class="Hui-iconfont">&#xe60d;</i> 会员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{U('Member/index')}" data-title="会员列表" href="javascript:;">会员列表</a></li>
	<!-- 				<li><a _href="member-del.html" data-title="删除的会员" href="javascript:;">删除的会员</a></li>
					<li><a _href="member-level.html" data-title="等级管理" href="javascript:;">等级管理</a></li>
					<li><a _href="member-scoreoperation.html" data-title="积分管理" href="javascript:;">积分管理</a></li>
					<li><a _href="member-record-browse.html" data-title="浏览记录" href="javascript:void(0)">浏览记录</a></li>
					<li><a _href="member-record-download.html" data-title="下载记录" href="javascript:void(0)">下载记录</a></li>
					<li><a _href="member-record-share.html" data-title="分享记录" href="javascript:void(0)">分享记录</a></li> -->
				</ul>
			</dd>
		</dl>
		{/if}

		{if $admin_list}
		<dl id="menu-admin">
			<dt><i class="Hui-iconfont">&#xe62d;</i> 管理员管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
                    <li><a _href="{U('AdminRole/index')}" data-title="权限管理" href="javascript:void(0)">权限管理</a></li>
					<li><a _href="{U('AdminRole/group')}" data-title="角色管理" href="javascript:void(0)">角色管理</a></li>
					<li><a _href="{U('AdminUser/userlist')}" data-title="管理员列表" href="javascript:void(0)">管理员列表</a></li>
				</ul>
			</dd>
		</dl>
		{/if}
        {if $sys}
		<dl id="menu-system">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 系统管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{U('System/index')}" data-title="系统设置" href="javascript:void(0)">系统设置</a></li>
					<li><a _href="{U('From/index')}" data-title="来源管理" href="javascript:void(0)">来源管理</a></li>
				</ul>
			</dd>
		</dl>
        {/if}
		{if $wuliu}
		<dl id="menu-wuliu">
			<dt><i class="Hui-iconfont">&#xe62e;</i> 物流管理<i class="Hui-iconfont menu_dropdown-arrow">&#xe6d5;</i></dt>
			<dd>
				<ul>
					<li><a _href="{U('Wuliu/packstate_update')}" data-title="物流包裹更新 " href="javascript:void(0)">运单物流更新</a></li>
					
				</ul>
			</dd>
		</dl>
		{/if}
		
		
	</div>
</aside>
