<div id="footer">
			<ul>
				<li class="footer_logo">
					<img src="{$smarty.const.HOME_IMG_PATH}footer_logo.jpg" alt="美国快递"/>
					<div class="company_text">悠乐助游平台<br />粤ICP备14059604号</div>
				</li>
				<li class="company_show">
					<p>公司简介</p>
					<div class="show_text">
						用最短的时间、最快捷的<br />快递方式、将物品安全地<br />送到客户手中...
					</div>
				</li>
				<li class="company_show">
					<p>服务项目</p>
					<div class="show_text">
						中港台普通快递、全球特快专递、<br />海空货运、美国国内快递、商品代购、<br />包装、仓储、转运等...
					</div>
				</li>
				<li class="company_show" style="background: none;">
					<p>服务热线</p>
					<p class="p_img"><img src="{$smarty.const.HOME_IMG_PATH}hot_line.jpg"/></p>
					<p class="hot_text">全国客服热线 7*24小时为你全身心服务</p>
				</li>
			</ul>
		</div>
		<div id="rss">
			<div class="rss_box">
				<ul>
					<li><a href="#">购物指南</a></li>
					<li><a href="#">商户合作</a></li>
					<li><a href="#">运费查询</a></li>
					<li><a href="#">最新时效</a></li>
					<li><a href="#">在线教程</a></li>
					<li><a href="#">收费标准</a></li>
					<li><a href="#">服务项目</a></li>
					<li><a href="#">客户中心</a></li>
					<li><a href="#">全程保险</a></li>
					<li><a href="#">禁寄物品</a></li>
					<li><a href="#">投诉建议</a></li>
					<li><a href="#">合作伙伴</a></li>
				</ul>
				<span>2015 US-EX Forwarder Inc 版权所有</span>
			</div>
			
			
		</div>
		
		
		
	</body>
</html>