{include file="layout/header.html"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 网点列表<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>

<div class="page-container">

	<form method="post" name="myform">
	<div class="cl pd-5 bk-gray" style="border-bottom:none"><a href="{U('Net/add')}" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加网点</a></span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
	<table class="table table-border table-bordered table-bg table-hover table-striped">
		<thead>
			<tr>
				<th scope="col" colspan="11">分类列表</th>
			</tr>
			<tr class="text-c">
				<th><input type="checkbox"></th>
				<th>ID</th>
				<th>国家</th>
				<th>所在城市</th>
				<th>负责人</th>
				<th>客服经理</th>
				<th>客服电话</th>
				<th>添加时间</th>
				<th>排序</th>
				<th>操作</th>
			</tr>
		</thead>
		<tbody>
		{if $result}
		{foreach $result as $value}
			<tr class="text-c">
				<td><input type="checkbox" value="{$value.id}" name="id[]"></td>
				<td>{$value.id}</td>
				<td>{$value.nation}</td>
				<td>{$value.city_cn}</td>
				<td>{$value.charge}</td>
				<td>{$value.manager}</td>
				<td>{$value.tel}</td>
				<td>{date('Y-m-d H:i:s',$value['add_time'])}</td>
				<td><input class="input-text text-c" style="width: 20%" type="text" name="sort[{$value.id}]" value="{$value.sort}"></td>
				<td class="td-manage">
				{if $value['is_show']}
				<a title="隐藏" href="{U('Net/isShow')}?id={$value.id}" class="ml-5" style="text-decoration:none;color: red">
				<i class="Hui-iconfont Hui-iconfont-yanjing"></i></a>
				{else}
				<a title="显示" href="{U('Net/isShow')}?id={$value.id}" class="ml-5" style="text-decoration:none;color: green">
				<i class="Hui-iconfont Hui-iconfont-yanjing"></i></a>
				{/if}
				<a title="编辑" href="{U('Net/update')}?id={$value.id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> 
				<a title="删除" href="{U('Net/delone')}?id={$value.id}" class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6e2;</i></a>
				</td>
			</tr>		
		{/foreach}

			<tr class="active">
				<td colspan="10">
					<input type="submit" value="排序" class="btn" onclick="paixu()">
					<input type="submit" value="批量删除" class="btn" onclick="del()">
				</td>
			</tr>

		{else}
			<tr class="text-c">
				<td colspan="10">暂无数据...</td>
			</tr>
		{/if}
		</tbody>
	</table>
	</form>
	<div class="pagination" style="margin-top:20px">{$page}</div>
</div>

{include file="layout/commonfooterjs.html"}
<script type="text/javascript">
	function paixu() {
		document.myform.action="{U('Net/sort')}";  
	}
	function del(){
		document.myform.action="{U('Net/del')}";  
	}
</script>
	

</body>
</html
