{include file="layout/header.html"}

<body style="min-height:auto;">
<div class="container">
	<div class="row cl">
				<div class="album-item" style="margin:0px auto; margin-top:80px;width:802px;">
					<div class="album-img">
						<img src="{$smarty.const.ADMIN_IMG_PATH}page_wel.png" style="width:800px;height:400px;"> 
					</div>
					<div class="album-title">版权所有：申通国际内容管理系统　<span class="c-999">技术支持QQ:344822559</span></div>
					<div class="album-bg">
						<div class="album-bg-Fir"></div>
						<div class="album-bg-Sec"></div>
					</div>
				</div>
	</div>
</div>
{include file="layout/commonfooterjs.html"}	
</body>
</html>