{include file="layout/header.html"}

<body style="min-height:auto;">
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 资讯管理 <span class="c-gray en">&gt;</span> 信息修改<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
</nav>
<div class="page-container">
<form action="{U('News/update')}" method="post" class="form form-horizontal" id="add_news">
		<input type="hidden" name="uploadurl" value="{U('Common/upload')}">
		<input type="hidden" name="id" value="{$rs['id']}">
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>父级栏目：</label>
			<div class="formControls col-xs-6 col-sm-3"> 
				<span class="select-box">
				<select name="uid" class="select" id="select1">
					{if $class}
						{foreach $class as $value}
							{if $value['is_child']}
								<option {if $rs['uid']==$value['id']}selected="selected"{/if} disabled="disabled" value="{$value.id}">{$value.nsbp}{if $value['level']>0}|{/if}{$value.html}{$value.class_name}</option>
							{else}
								<option {if $rs['uid']==$value['id']}selected="selected"{/if} value="{$value.id}">{$value.nsbp}{if $value['level']>0}|{/if}{$value.html}{$value.class_name}</option>
							{/if}
							
						{/foreach}
					{/if}
					
				</select>
				</span> 
			</div>
		</div>

		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>标题：</label>
			<div class="formControls col-xs-8 col-sm-6">
				<input type="text" class="input-text" value="{$rs['title']}" name="title">
			</div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>来源：</label>
			<div class="formControls col-xs-8 col-sm-2">
				<span class="select-box">
				<select name="fromid" class="select" id="select2">
				{if $from}

					{foreach $from as $value}
					<option {if $rs['fromid']==$value['id']}selected="selected"{/if} value="{$value.id}">{$value.name}</option>
					{/foreach}
				{else}
					<option value="0">暂未添加来源数据！</option>
				{/if}
					
				</select>
				</span> 

			</div>
			<div class="formControls col-xs-8 col-sm-2">
				<input type="text" class="input-text" value="{$rs['copyfrom']}" name="copyfrom">
			</div>
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>摘要：</label>
			<div class="formControls col-xs-8 col-sm-7">
				<textarea name="digest" id="textarea" class="textarea"  placeholder="栏目介绍...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$rs['digest']}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>关键词：</label>
			<div class="formControls col-xs-8 col-sm-6">
				<input type="text" class="input-text" value="{$rs['keyword']}" name="keyword">
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>正文：</label>
			<div class="formControls col-xs-8 col-sm-7">
				<script id="editor" name="content" type="text/plain" style="width:100%;height:400px;">{$rs['content']}</script> 
			</div>
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>缩略图上传：</label>
			<div class="formControls col-xs-8 col-sm-7" id="up_box">
				  <p><a href="javascript:void();" id="upload" class="btn btn-primary radius">浏览图片</a></p>

				  {if $rs['photo']}

				  		{foreach $rs['photo'] as $value}
				  			<p class="pt-5"><input class="input-text" name="photo[]" value="{$value}"/></p>
				  		{/foreach}

				  {/if}
 
			</div>
			
		</div>
		
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">允许评论：</label>
			<div class="formControls col-xs-8 col-sm-3 skin-minimal">
				<input type="checkbox" {if $rs['is_comment']}checked="checked"{/if} onclick="check_box('is_comment');" id="is_comment" style="margin-top:7px">
			</div>
			<input type="hidden" name="is_comment" >
		</div>

		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="submit" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<a class="btn btn-default radius" href="{U('News/index')}">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
			</div>
		</div>
	</form>
	</div>

	{include file="layout/commonfooterjs.html"}	
	<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/ueditor/1.4.3/ueditor.config.js"></script>
	<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
	<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
	<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}js/upload.js"></script>
	<script type="text/javascript" src="{$smarty.const.ADMIN_PATH}js/add_news.js"></script>
	<script type="text/javascript">		
		$(function(){
			var ue = UE.getEditor('editor');
		});
		//checkbox的方法
		function check_box(id){
			var checkid="#"+id;  
			if($(checkid).is(":checked")){
				$('input[name="is_comment"]').val('1');
		    }else{  
		    	$('input[name="is_comment"]').val('0');
		    }  

		}
	</script>
	
	</body>
</html>