@charset "utf-8";
/*
 * 项目名称：悠乐地接404
 * 开发时间：2016.11.27
 * 开发人：344822559@qq.com
 * */
html{
	width: 100%;
	height: 100%;
}
body{
	height: 100%;
	background: #d5fcf4 url(../img/cloud1.png) no-repeat 10% 3%;
	background-size: 49px auto;
	position: relative;
}
.cloud_right{
	position: fixed;
	right: 15%;
	top: 12%;
	width: 98px;
	height: 48px;
	background: url(../img/cloud1.png) no-repeat center;
}
.cloud_top{
	position: fixed;
	right: 30%;
	top: -25px;
	width: 98px;
	height: 48px;
	background: url(../img/cloud1.png) no-repeat center;
	background-size: 60px auto;
}
.cloud_left{
	position: fixed;
	left: 30%;
	top: 30%;
	width: 98px;
	height: 48px;
	background: url(../img/cloud1.png) no-repeat center;
	background-size: 80px auto;
}
.montain{
	height: 164px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: url(../img/nounment.png) repeat-x;
	position: fixed;
	z-index: 999;
}
.desk_leg{
	position: fixed;
	background: url(../img/desk_leg.png) no-repeat;
	background-size: 100% 100%;
	width: 480px;
	height: 50%;
	z-index: 997;
	bottom: 0px;
	left: 50%;
	margin-left: -240px;
}
.desk{
	background: url(../img/ban.png) no-repeat;
	width: 480px;
	height: 410px;
	position: fixed;
	left: 50%;
	margin-left: -240px;
	bottom: 35%;
	margin-bottom: -205px;
	z-index: 998;
}
.error_logo{
	background: url(../img/404.png) no-repeat center;
	position: fixed;
	width: 310px;
	height: 276px;
	left: 50%;
	margin-top: -230px;
	margin-left: -155px;
	z-index: 996;
}
.error_text{
	position: absolute;
	width: 250px;
	height: 150px;
	top: 80px;
	right: 50px;
}
.error_text p{
	font-size: 20px;
	line-height: 35px;
}
