	{$header}

	<div class="list_banner">
		<div class="list_banner_p content">
			<p>{$page_big}</p>
			<div class="bread">{$page_big} > {$page_title|truncate:30:"...":true}</div>
		</div>
	</div>
	
	<div class="show content clearfix">

		<div class="list_nav" style="margin-top:0px;">
				<div class="nav_title">快捷导航</div>
				<ul class="clearfix">
					{if $qucik}
						{foreach $qucik as $value}
							<li><a href="{$value.url}">{$value.class_name}</a></li>
						{/foreach}

					{else}
						<li>暂无数据</li>
					{/if}
					
				</ul>
		</div>
		<div class="list_text clearfix" style="border: 1px solid #eee;margin-top:0px; width: 926px">

			<div class="page_title">{$page['title']}</div>
			<div class="page_content">
				{$page['content']}
			</div>

		</div>
		
	</div>

	{$footer}