{include file="layout/header.html"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 内容管理 <span class="c-gray en">&gt;</span> 添加分类<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">

<form action="{U('Class/addclass')}" method="post" class="form form-horizontal">

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>父级栏目：</label>
			<div class="formControls col-xs-6 col-sm-4"> 
				<span class="select-box">
				<select name="pid" class="select" id="select1">
					<option value="0">作为一级栏目</option>
					{if $class}
						{foreach $class as $value}
							<option value="{$value.id}" {if $rs['pid']==$value['id']}selected="selected"{/if}>{$value.nsbp}{if $value['level']>0}|{/if}{$value.html}{$value.class_name}</option>
						{/foreach}
					{/if}
					
				</select>
				</span> 
			</div>
		</div>


		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目类型：</label>
			<div class="formControls col-xs-8 col-sm-4"> <span class="select-box">
				<select name="class_type" class="select" id="select2">
					<option value="0" {if $rs['class_type']==0}selected="selected"{/if}>列表栏目</option>
					<option value="1" {if $rs['class_type']==1}selected="selected"{/if}>单页栏目</option>
				</select>
				</span> </div>
		</div>

		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$rs['class_name']}" name="class_name">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>英文名称：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="text" class="input-text" value="{$rs['class_en']}"  name="class_en">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2">是否导航显示：</label>
			<div class="formControls col-xs-8 col-sm-3 skin-minimal">
				<input type="checkbox" onclick="check_box('check_menu');" id="check_menu" {if $rs['is_menu']==1}checked="checked"{/if} style="margin-top:7px">
			</div>
			<input type="hidden" name="is_menu" >
		</div>
		
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>栏目信息：</label>
			<div class="formControls col-xs-8 col-sm-9">
				<textarea name="class_info" id="textarea" class="textarea"  placeholder="栏目介绍...最少输入10个字符" datatype="*10-100" dragonfly="true" nullmsg="备注不能为空！" onKeyUp="textarealength(this,200)">{$rs['class_info']}</textarea>
				<p class="textarea-numberbar"><em class="textarea-length">0</em>/200</p>
			</div>
		</div>
		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="button" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存并提交</button>
				<a class="btn btn-default radius" href="{U('Class/index')}">&nbsp;&nbsp;取消&nbsp;&nbsp;</a>
			</div>
		</div>
	</form>
	</div>

	{include file="layout/commonfooterjs.html"}

	<script type="text/javascript">
	

	$(function(){

		$('#submit').click(function(){

			var pid=$("#select1  option:selected").val();
			var class_type=$("#select2  option:selected").val();
			var class_name=$('input[name="class_name"]').val();
			var class_en=$('input[name="class_en"]').val();
			var is_menu=$('input[name="is_menu"]').val();
			var class_info=$('#textarea').val();
			var url="{U('Class/addclass')}";
			var returnUrl="{U('Class/index')}";
			if(class_name==''||class_en==''||class_info==''){
				layer.alert('内容填写不完整,请补充填写!')
				return false;
			}


			$.post(url,
				{
					pid:pid,
					class_type:class_type,
					class_name:class_name,
					class_en:class_en,
					is_menu:is_menu,
					class_info:class_info
				},
			{literal}
	          function(data){
	         	console.log(data); //  2pm
	         	if (data.state=="1") {

					layer.confirm(data.message, {
						  btn: ['继续添加','返回列表'] //按钮
						}, function(){
						  window.location.href=url;
						}, function(){
						   window.location.href=returnUrl;
					});

	         	}else{
	         		
	         		layer.confirm(data.message, {
						  btn: ['继续添加','返回列表'] //按钮
						}, function(){
						  window.location.href=url;
						}, function(){
						   window.location.href=returnUrl;
					});


	         	}

	        });

	       

		})

		

	})

	//checkbox的方法
	function check_box(id){
		var checkid="#"+id;  
		if($(checkid).is(":checked")){
			$('input[name="is_menu"]').val('1');
	    }else{  
	    	$('input[name="is_menu"]').val('0');
	    }  

	}

	{/literal}
	</script>
</body>
</html