{include file="layout/header.html"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 系统管理 <span class="c-gray en">&gt;</span> 修改密码<a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
</nav>
<div class="page-container">

<form action="{U('AdminUser/upassword')}" method="post" class="form form-horizontal">

	
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>原密码：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="password" class="input-text" name="orpassword" id="orpassword">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>新密码：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="password" class="input-text" name="pass" id="pass">
			</div>
		</div>
		<div class="row cl">
			<label class="form-label col-xs-4 col-sm-2"><span class="c-red">*</span>确认新密码：</label>
			<div class="formControls col-xs-8 col-sm-3">
				<input type="password" class="input-text"  name="pass_enter" id="pass_enter">
			</div>
		</div>

		
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<button class="btn btn-primary radius" type="button" id="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
				<button class="btn btn-primary radius" type="reset" id="resets"><i class="Hui-iconfont">&#xe632;</i> 重填</button>
			</div>
		</div>
	</form>
	</div>

	{include file="layout/commonfooterjs.html"}

	<script type="text/javascript">
	$(function(){

		$('#submit').click(function(){
			var orpassword=$('input[name="orpassword"]').val();
			var pass=$('input[name="pass"]').val();
			var pass_enter=$('input[name="pass_enter"]').val();
			var returl =  "{U('AdminUser/upassword')}";
			
			if(orpassword==''){
				layer.alert('请填写原密码!')
				return false;
			}
			if(pass==''){
				layer.alert('请填写新密码!')
				return false;
			}
			if(orpassword == pass){
				layer.alert('原密码与新密码相同!')
				return false;
			}
			if (pass!=pass_enter){
				layer.alert('密码与确认密码不一致!')
				return false;
			}

			$.post("{U('AdminUser/upassword')}",
				{
					orpassword:orpassword,
					pass:pass
				},
			{literal}
	          function(data){
	        	  console.log(data); //  2pm
	        	  if (data.flag=="0") {
	  				layer.confirm(data.msg, {
	  					  btn: ['确定'] //按钮
	  					}, function(){
	  						 window.location.href=returl;
	  					}, function(){
	  					   
	  				});

	           	}else {
	           		
	           		layer.confirm(data.msg, {
	           			 btn: ['确定'] //按钮
	  					}, function(){
	  						layer.closeAll('dialog');
	  					}, function(){
	  					
	  				});


	           	}
	         	

	        });

	       

		})

		

	})


	{/literal}
	</script>
</body>
